body{
    background-color: rgb(144,80,0);
    padding: 0px;
    margin:0;
}

.formulaire{
    background-color: white;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: 35%;
    border-radius:30px;
}

.register{
    display: contents;
    margin-left: 25%;
}

.login{
    display: none;
    margin-left: 25%;
}
